{% assign set = section.settings %}
<div class="ik-container about-text-wrap">
  <div class="Index-wrapper">
    <div class="text-wrap">
      <h2 data-preserve-html-node="true" class="text-align-center hollow-dot">°</h2>
      {% if set.title %}<h2 class="ik-title">{{ set.title }}</h2>{% endif %}
      {% if set.text %}<div class="ik-content">{{ set.text }}</div>{% endif %}
    </div>
    <div class="image-wrap">
      {% if set.image1 %}<img src="{{ set.image1 | img_url: '1000x' }}" alt="{{ set.image1.alt }}" class="img-item">{% endif %}
      {% if set.image2 %}<img src="{{ set.image2 | img_url: '1000x' }}" alt="{{ set.image2.alt }}" class="img-item">{% endif %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Image text section",
  "class": "ik-about-text",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image2"
    }
  ]
}
{% endschema %}